.container {
    border-radius: 10px;
    display: flex;
    width: 200px;
    height: 250px auto;
    flex-flow: column wrap;
    border: 1px solid rgb(126, 123, 123); /* outline no deja hacer border-radius */
    margin: 10px auto;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* margin-left: 60px;
    margin-right: 60px; */
}

.dogImages {
    width: 200px;
    height: 150px;
    display: flex;
    align-self: center;
}